spring:
    application:
        name: quizly-Spring
#    config:
#        activate:
#            on-profile: dev
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: ${DB_URL}
        username: ${DB_USERNAME}
        password: ${DB_PASSWORD}
    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                format_sql: true
                show_sql: true
                dialect: org.hibernate.dialect.MySQL8Dialect
        generate-ddl: false
        open-in-view: false
    jwt:
        secret: ${JWT_SECRET}
    thymeleaf:
        cache: false




